.popup-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    position: absolute;
    width: 80vw;
    height: 80vh;
    left: 10vw;
    top: 10vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 2px solid white;
    overflow: hidden;
}