.wrapper {
    height: 100%;
    width: 100%;
}

.popup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    position: absolute;
    width: 80vw;
    height: 80vh;
    left: 10vw;
    top: 10vh; 
    border-radius: 30px;
    border: 2px solid white;
    overflow: hidden;
    color: white;

    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.video-wrapper {
    display: flex;
    min-width: 100%;
    min-height: 100%;
}

.ad-wrapper {
    border-color: #F29810;
}

.ad-overlay-jk {
    position: absolute;
    width: 25%;
    height: auto;
    z-index: 9;
}

.ad-jk {
    max-width: 100%;
    min-width: 100%;
}

.title-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 30px;
}

.title {
    font-family: "Geo", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 53px;
}

.sub-title {
    display: flex;
    padding: 30px;
}

.share-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90%;
    height: 70%;
}

.share-content-3 {
    display: flex;
    padding: 10px;
    max-width: 33%;
    max-height: 100%;
}

.share-content-footer {
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    padding: 30px;
}

.button, .outline {
    display: flex;
    padding: 10px 30px;
}

.button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.outline {
    border-radius: 20px;
    border: 2px solid white;
}

.button.outline {
    color: #7BE4B2;
    border-color: #7BE4B2;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}