.wrapper {
    height: 100%;
    width: 100%;
}

.popup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    position: absolute;
    width: 80vw;
    height: 80vh;
    left: 10vw;
    top: 10vh; 
    border-radius: 30px;
    border: 2px solid white;
    overflow: hidden;
    color: white;

    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.share-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90%;
    height: 70%;
}

.share-content {
    max-width: 100%;
    max-height: 100%;
}

.share-content-footer {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.button, .outline, .share-content {
    display: flex;
    padding: 20px;
}

.button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.outline {
    border-radius: 30px;
    border: 2px solid white;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}