html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

video {
  object-fit: cover;
  width: 100%;
  height: auto;
}

a {
  color: #F29810;
}

p {
  margin-block-start: 5px;
  margin-block-end: 5px;
}